body {
  font-family: "Gowun Dodum", sans-serif;
  margin: 0;
  color: #444;
}
section.greeting {
    background: #fffae9;
}
section {
  padding: 40px 20px;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;

}

.cover {
  background: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.cover img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  border-radius: 0;
}

.cover h1 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 32px;
  /* color: #d4a373; */ /* 골드톤 */
  margin: 20px 0 10px;
}

.cover p {
  font-size: 16px;
  color: #666;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
}

.gallery img {
  width: 100%;
  border-radius: 12px;
}

button {
  padding: 12px 20px;
  margin: 8px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #d4a373; /* 골드톤 */
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #b88550;
}
.calendar {
  margin-top: 40px;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.calendar th {
  background: #f4eadd;
  color: #444;
  padding: 8px;
}

.calendar td {
  padding: 12px;
  border: 1px solid #eee;
}

.calendar .highlight {
  background: #d4a373;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
}
#map {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  margin: 20px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.location-section .link{
	padding:1.250rem 0 0.938rem;
	background:#fafafa;
	font-size: 0;
	line-height:0;
	text-align: center;
}
.location-section .link li{
	display:inline-block;
	vertical-align:top;
	width:3.750rem;
	padding:0 0.625rem;
	box-sizing:content-box;
}
.location-section .link a{
	position:relative;
	display:block;
	padding-top:3.438rem;
	font-family:"Noto Sans KR";
	font-size:0.688rem;
	font-weight:400;
	line-height:1rem;
	color:#111;
	text-decoration:none;
}
.location-section .link a:after{
	content:'';
	display:block;
	position: absolute;
	left: 50%; top: 0;
	margin-left:-1.563rem; 
	width:3.125rem;
	height:3.125rem;
	background-position:0 0;
	background-repeat:no-repeat;
	background-size:3.125rem;
}
.location-section .link .tmap:after{
	background-image: url("/images/location_tmap2.png");
}
.location-section .link .kakaonavi:after{
	background-image: url("/images/location_kakaonavi.png");
}
.location-section .link .navermap:after{
	background-image: url("/images/location_navermap.png");
}
.location-section .link .kakaomap:after{
	background-image: url("/images/location_kakaomap.png");
}
